In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('pokedexfinal.csv')
df

,pokedex_number,name,type1,type2,generation,height_m,weight_kg,is_legendary
0,1,Bulbasaur,grass,poison,1,0.7,6.9,No
1,2,Ivysaur,grass,poison,1,1.0,13.0,No
2,3,Venusaur,grass,poison,1,2.0,100.0,No
3,4,Charmander,fire,NaN,1,0.6,8.5,No
4,5,Charmeleon,fire,NaN,1,1.1,19.0,No
...,...,...,...,...,...,...,...,...
796,797,Celesteela,steel,flying,7,9.2,999.9,Yes
797,798,Kartana,grass,steel,7,0.3,0.1,Yes
798,799,Guzzlord,dark,dragon,7,5.5,888.0,Yes
799,800,Necrozma,psychic,NaN,7,2.4,230.0,Yes
800,801,Magearna,steel,fairy,7,1.0,80.5,Yes

In [5]:
df.type2.unique()

array(['poison', nan, 'flying', 'dark', 'electric', 'ice', 'ground',
       'fairy', 'grass', 'fighting', 'psychic', 'steel', 'fire', 'rock',
       'water', 'dragon', 'ghost', 'bug', 'normal'], dtype=object)

In [6]:
def add():
    while True:
        ask=int(input('Do you want to enter multiple pokemons?: \n'))
        if ask==1:
            ask2=int(input('How many pokemons do you want to enter?: \n'))
            for i in range(0,ask2):
                n=str(input('Enter the name of pokemon: \n'))
                t1=str(input("Enter Primary Type of Pokemon: \n"))
                while t1 not in df.type1.unique():
                    print('Please Enter correct Primary T')
                    t1=str(input("Enter Primary Type of Pokemon: \n"))
                t2=str(input("Enter Secondary Type of Pokemon: \n"))
                while t2 not in ['poison', 'flying', 'dark', 'electric', 'ice', 'ground','fairy', 'grass', 'fighting', 'psychic', 'steel', 'fire', 'rock','water', 'dragon', 'ghost', 'bug', 'normal','none']:
                    print('Please Enter correct Secondary T')
                    t2=str(input("Enter Primary Type of Pokemon: \n"))
                if t2=='none':
                    t2=np.NaN
                gen=int(input('Enter the Generation of your Pokemon: \n'))
                h=int(input('Height: \n'))
                w=int(input('Weight: \n'))
                l=str(input('Legendary: \n'))
                p_no=len(df.index)+1
                df.loc[len(df.index)]=[p_no,n,t1.lower(),t2,gen,h,w,l]
        elif ask==2:
            n=str(input('Enter the name of pokemon: \n'))
            t1=str(input("Enter Primary Type of Pokemon: \n"))
            while t1 not in df.type1.unique():
                print('Please Enter correct Primary T')
                t1=str(input("Enter Primary Type of Pokemon: \n"))
            t2=str(input("Enter Secondary Type of Pokemon: \n"))
            while t2 not in ['poison', 'flying', 'dark', 'electric', 'ice', 'ground','fairy', 'grass', 'fighting', 'psychic', 'steel', 'fire', 'rock','water', 'dragon', 'ghost', 'bug', 'normal','none']:
                print('Please Enter correct Secondary T')
                t2=str(input("Enter Primary Type of Pokemon: \n"))
            if t2=='none':
                t2=np.NaN
            gen=int(input('Enter the Generation of your Pokemon: \n'))
            h=int(input('Height: \n'))
            w=int(input('Weight: \n'))
            l=str(input('Legendary: \n'))
            p_no=len(df.index)+1
            df.loc[len(df.index)]=[p_no,n,t1.lower(),t2,gen,h,w,l]
        else:
            print('Please enter valid input')
add()

Please Enter correct Primary T

In [7]:
df

,pokedex_number,name,type1,type2,generation,height_m,weight_kg,is_legendary
0,1,Bulbasaur,grass,poison,1,0.7,6.9,No
1,2,Ivysaur,grass,poison,1,1.0,13.0,No
2,3,Venusaur,grass,poison,1,2.0,100.0,No
3,4,Charmander,fire,NaN,1,0.6,8.5,No
4,5,Charmeleon,fire,NaN,1,1.1,19.0,No
...,...,...,...,...,...,...,...,...
798,799,Guzzlord,dark,dragon,7,5.5,888.0,Yes
799,800,Necrozma,psychic,NaN,7,2.4,230.0,Yes
800,801,Magearna,steel,fairy,7,1.0,80.5,Yes
801,802,xyz,fire,NaN,8,12.0,213.0,No
802,803,aaa,grass,water,8,12.0,123.0,No

In [60]:
def search():
    query1=int(input('Search p:'))
    if query1==1:
        pno=int(input('Enter Pokedex No:'))
        print(df.loc[[pno-1]])
    elif query1==2:
        nam=str(input('Enter Pokemon Name:'))
        print(df.loc[df['name']==nam])

In [61]:
def remove():
    query2=int(input('Remove:'))
    if query2==1:
        pno1=int(input('Enter Pokedex No:'))
        a=df.drop([pno1-1],inplace=True)
        print(df)
    elif query2==2:
        nam1=str(input("Enter Pokemon Name:"))
        b=df.drop(df.index[df['name']==nam1],inplace=True)
        print(df)

In [ ]:
while True:
    query=int(input('What do you want to do?\n Press 1 for adding a Pokemon.\n Press 2 for searching a Pokemon.\n Press 3 for removing a Pokemon:'))
    if query==1:
        add()
    elif query==2:
        search()
    elif query==3:
        remove()
    else:
        print('Please Enter a Valid Input')

In [42]:
def update():
    query3=int(input('Want to update through Pokemon name or Pokedex No: \n'))
    if query3==1:
        q4=str(input('Enter Pokemon Name: \n'))
        q5=df.index[df['name']==q4]
        q6=df.index.get_loc(q5[0])
        print(q5)
        query5=int(input('What do you want to Update?: \n'))
        if query5==1:
            ty2=input('Enter the new Secondary type: \n')
            while ty2 not in ['poison', 'flying', 'dark', 'electric', 'ice', 'ground','fairy', 'grass', 'fighting', 'psychic','steel', 'fire', 'rock','water', 'dragon', 'ghost', 'bug', 'normal','none']:
                print('Please Enter correct Secondary T')
                ty2=str(input("Enter Secondary Type of Pokemon: \n"))
            if ty2=='none':
                ty2=np.NaN
            df.at[q6,'type2']=ty2

        elif query5==2:
            h=int(input('Enter new height of Pokemon: \n'))

        elif query5==3:
            w=int(input('Enter new weight of Pokemon: \n'))

        else:
            print('Please Enter a Valid Input')

    elif query3==2:
        q7=int(input('Enter Pokedex No: \n'))
        query6=int(input('What do you want to Update?: \n'))
        if query6==1:
            ty3=input('Enter the new Secondary type: \n')
            while ty2 not in ['poison', 'flying', 'dark', 'electric', 'ice', 'ground','fairy', 'grass', 'fighting', 'psychic','steel', 'fire', 'rock','water', 'dragon', 'ghost', 'bug', 'normal','none']:
                print('Please Enter correct Secondary T')
                ty2=str(input("Enter Secondary Type of Pokemon: \n"))
            if ty2=='none':
                ty2=np.NaN
            df.at[q7-1,'type2']=ty3

        elif query5==2:
            h=int(input('Enter new height of Pokemon: \n'))
            df.at[q7-1,'height_m']=h

        elif query5==3:
            w=int(input('Enter new weight of Pokemon: \n'))
            df.at[q7-1,'weight_kg']=w

        else:
            print('Please Enter a Valid Input')

    else:
        print('Please Enter a Valid Input')
update()
df

,pokedex_number,name,type1,type2,generation,height_m,weight_kg,is_legendary
0,1,Bulbasaur,grass,dark,1,0.7,6.9,No
1,2,Ivysaur,grass,grass,1,1.0,13.0,No
2,3,Venusaur,grass,poison,1,2.0,100.0,No
3,4,Charmander,fire,NaN,1,0.6,8.5,No
4,5,Charmeleon,fire,NaN,1,1.1,19.0,No
...,...,...,...,...,...,...,...,...
798,799,Guzzlord,dark,dragon,7,5.5,888.0,Yes
799,800,Necrozma,psychic,NaN,7,2.4,230.0,Yes
800,801,Magearna,steel,fairy,7,1.0,80.5,Yes
801,802,xyz,fire,dark,8,12.0,213.0,No
802,803,aaa,grass,water,8,12.0,123.0,No